includes:
    - tooling/phpstan/downstream/downstream.neon
    - tooling/phpstan/larastan/larastan.neon
    - tooling/phpstan/phpunit/phpunit.neon
    - tooling/phpstan/ergebnis/ergebnis.neon
    - tooling/phpstan/carbon/carbon.neon
    - tooling/phpstan/phpstan/phpstan.neon
    - tooling/phpstan/services.neon
    - tooling/phpstan/parameters.neon
