includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-phpunit/rules.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    aryeo:
        tests:
            testCaseClass:
                - Tests\TestCase
                - PHPStan\Testing\RuleTestCase
                - PHPStan\Testing\PHPStanTestCase
    ignoreErrors:
        -
            message: '#Dynamic call to static method PHPUnit\\Framework\\Assert::(assert|fail|markTest).*\(\)#'
            paths:
                - %rootDir%/../../../**/*Test.php
                - %rootDir%/../../../**/*TestCase.php
                - %rootDir%/../../../**/*TestCases.php
        -
            message: '#Call to method PHPUnit\\Framework\\Assert::assert.*\(\) .* will always evaluate to true#'
            paths:
                - %rootDir%/../../../**/*Test.php
                - %rootDir%/../../../**/*TestCase.php
        -
            message: "#^Called 'Model::make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
            paths:
                - %rootDir%/../../../**/*Test.php
                - %rootDir%/../../../**/*TestCase.php
parametersSchema:
    aryeo: structure([
        tests: structure([
            testCaseClass: anyOf(string(), listOf(string()))
        ])
    ])
services:
    -
        class: Tooling\PhpStan\Rules\PhpUnit\TestClassMustExtendTestCase
        tags:
            - phpstan.rules.rule
        arguments:
            testCaseClass: %aryeo.tests.testCaseClass%
    -
        class: Tooling\PhpStan\Rules\PhpUnit\TestMethodMustNotHaveTestPrefix
        tags:
            - phpstan.rules.rule
        arguments:
            testCaseClass: %aryeo.tests.testCaseClass%
    -
        class: Tooling\PhpStan\Rules\PhpUnit\TestMethodNameMustBeSnakeCase
        tags:
            - phpstan.rules.rule
        arguments:
            testCaseClass: %aryeo.tests.testCaseClass%
    -
        class: Tooling\PhpStan\Rules\PhpUnit\TestMethodMustHaveTestAttribute
        tags:
            - phpstan.rules.rule
        arguments:
            testCaseClass: %aryeo.tests.testCaseClass%
