includes:
    - ../rector/rector.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    ignoreErrors:
        - identifier: phpstanApi.runtimeReflection
services:
    -
        class: Tooling\PhpStan\Rules\PhpStan\RuleMustExtendRule
        tags:
            - phpstan.rules.rule
